In [1]:
import requests
import json
import pandas as pd

In [2]:
base_url = "https://api.worldoftanks.eu/wot/encyclopedia/vehicles/?application_id=67369ded9212f123394343e566ee&fields=nation%2C+tank_id%2C+name%2C+tier%2C+type&page_no="
pages = range(1, 10)
the_list = {}

In [3]:
for i in pages:
    response = requests.get(base_url + "%d" %i)
    item_load = response.json()
    the_list.update(item_load['data'])

In [4]:
df = pd.DataFrame.from_dict(the_list)
df_transposed = df.transpose()

In [5]:
df_transposed

      tier   nation        type                 name tank_id
1        5     ussr  mediumTank                 T-34       1
1057     5      usa  mediumTank         M4A1 Sherman    1057
513      7     ussr   heavyTank                   IS     513
529      7  germany   heavyTank              Tiger I     529
1569     7      usa  mediumTank                  T20    1569
...    ...      ...         ...                  ...     ...
65073    8    china   heavyTank  WZ-111 Alpine Tiger   65073
64321    9   france   heavyTank    AMX M4 mle. 51 FL   64321
65297    8  germany   heavyTank              Löwe FL   65297
65329    8    china  mediumTank               122 TM   65329
65345    8   france   heavyTank    AMX M4 mle. 49 FL   65345

[810 rows x 5 columns]

In [54]:
df_transposed = df_transposed.set_index('tank_id')
df_transposed = df_transposed[['name', 'type', 'nation', 'tier']]

In [56]:
df_transposed.to_csv('Tank-Information.csv', sep = ',')